In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   ------ -------------------------------- 41.0/250.9 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
import numpy as np
import openpyxl

In [6]:
# Load raw data (READ ONLY)
raw_path = "E:/Data Analytics/Labmentix/Ola Project/data_raw/ola_july_raw.xlsx"
df = pd.read_excel(raw_path)

In [7]:
# Basic sanity check
df.shape, df.head()

((103024, 20),
                  Date      Time     Booking_ID        Booking_Status  \
 0 2024-07-26 14:00:00  14:00:00  CNR7153255142    Canceled by Driver
 1 2024-07-25 22:20:00  22:20:00  CNR2940424040               Success
 2 2024-07-30 19:59:00  19:59:00  CNR2982357879               Success
 3 2024-07-22 03:15:00  03:15:00  CNR2395710036  Canceled by Customer
 4 2024-07-02 09:02:00  09:02:00  CNR1797421769               Success

   Customer_ID Vehicle_Type Pickup_Location Drop_Location  V_TAT  C_TAT  \
 0   CID713523  Prime Sedan     Tumkur Road      RT Nagar    NaN    NaN
 1   CID225428         Bike     Magadi Road       Varthur  203.0   30.0
 2   CID270156    Prime SUV   Sahakar Nagar       Varthur  238.0  130.0
 3   CID581320        eBike      HSR Layout   Vijayanagar    NaN    NaN
 4   CID939555         Mini     Rajajinagar   Chamarajpet  252.0   80.0

                      Canceled_Rides_by_Customer      Canceled_Rides_by_Driver  \
 0                                           NaN  Personal & Car related issue
 1                                           NaN                           NaN
 2                                           NaN                           NaN
 3  Driver is not moving towards pickup location                           NaN
 4                                           NaN                           NaN

   Incomplete_Rides Incomplete_Rides_Reason  Booking_Value Payment_Method  \
 0              NaN                     NaN            444            NaN
 1               No                     NaN            158           Cash
 2               No                     NaN            386            UPI
 3              NaN                     NaN            384            NaN
 4               No                     NaN            822    Credit Card

    Ride_Distance  Driver_Ratings  Customer_Rating  Vehicle Images
 0              0             NaN              NaN             NaN
 1             13             4.1              4.0             NaN
 2             40             4.2              4.8             NaN
 3              0             NaN              NaN             NaN
 4             45             4.0              3.0             NaN  )

In [8]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
)

In [9]:
df.columns

Index(['date', 'time', 'booking_id', 'booking_status', 'customer_id',
       'vehicle_type', 'pickup_location', 'drop_location', 'v_tat', 'c_tat',
       'canceled_rides_by_customer', 'canceled_rides_by_driver',
       'incomplete_rides', 'incomplete_rides_reason', 'booking_value',
       'payment_method', 'ride_distance', 'driver_ratings', 'customer_rating',
       'vehicle_images'],
      dtype='object')

In [10]:
df.drop(columns=["vehicle_images"], inplace=True)

In [11]:
df.shape

(103024, 19)

In [12]:
# Convert numeric columns safely
numeric_cols = [
    "booking_value",
    "ride_distance",
    "driver_ratings",
    "customer_rating",
    "v_tat",
    "c_tat"
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [13]:
df["booking_datetime"] = pd.to_datetime(
    df["date"].astype(str) + " " + df["time"].astype(str),
    errors="coerce"
)

C:\Users\MANIKANTA\AppData\Local\Temp\ipykernel_25732\211588784.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["booking_datetime"] = pd.to_datetime(

In [14]:
df[["date", "time", "booking_datetime"]].head()

                 date      time    booking_datetime
0 2024-07-26 14:00:00  14:00:00 2024-07-26 14:00:00
1 2024-07-25 22:20:00  22:20:00 2024-07-25 22:20:00
2 2024-07-30 19:59:00  19:59:00 2024-07-30 19:59:00
3 2024-07-22 03:15:00  03:15:00 2024-07-22 03:15:00
4 2024-07-02 09:02:00  09:02:00 2024-07-02 09:02:00

In [15]:
df["is_success"] = df["booking_status"] == "Success"
df["is_customer_cancel"] = df["booking_status"] == "Canceled by Customer"
df["is_driver_cancel"] = df["booking_status"] == "Canceled by Driver"
df["is_driver_not_found"] = df["booking_status"] == "Driver Not Found"

df["is_failure"] = ~df["is_success"]

In [16]:
df[["is_success", "is_failure"]].value_counts()

is_success  is_failure
True        False         63967
False       True          39057
Name: count, dtype: int64

In [17]:
df["is_incomplete_ride"] = df["incomplete_rides"].notna()

In [18]:
df["quoted_fare"] = df["booking_value"]

df["realized_revenue"] = np.where(
    df["is_success"],
    df["booking_value"],
    0
)

In [19]:
df.groupby("booking_status")[["quoted_fare", "realized_revenue"]].sum()

                      quoted_fare  realized_revenue
booking_status
Canceled by Customer      5770901                 0
Canceled by Driver       10183427                 0
Driver Not Found          5499819                 0
Success                  35080467          35080467

In [20]:
final_cols = [
    "booking_id",
    "booking_datetime",
    "date",
    "time",
    "booking_status",
    "vehicle_type",
    "pickup_location",
    "drop_location",
    "ride_distance",
    "payment_method",
    "driver_ratings",
    "customer_rating",
    "v_tat",
    "c_tat",
    "quoted_fare",
    "realized_revenue",
    "is_success",
    "is_customer_cancel",
    "is_driver_cancel",
    "is_driver_not_found",
    "is_failure",
    "is_incomplete_ride"
]

df_clean = df[final_cols]

In [21]:
clean_path = "E:/Data Analytics/Labmentix/Ola Project/data_clean/ola_july_clean.csv"
df_clean.to_csv(clean_path, index=False)

In [22]:
df_clean.shape

(103024, 22)

In [23]:
df_clean.isnull().sum()

booking_id                 0
booking_datetime           0
date                       0
time                       0
booking_status             0
vehicle_type               0
pickup_location            0
drop_location              0
ride_distance              0
payment_method         39057
driver_ratings         39057
customer_rating        39057
v_tat                  39057
c_tat                  39057
quoted_fare                0
realized_revenue           0
is_success                 0
is_customer_cancel         0
is_driver_cancel           0
is_driver_not_found        0
is_failure                 0
is_incomplete_ride         0
dtype: int64

In [24]:
df_clean["booking_status"].value_counts()

booking_status
Success                 63967
Canceled by Driver      18434
Canceled by Customer    10499
Driver Not Found        10124
Name: count, dtype: int64

In [25]:
df_clean["realized_revenue"].sum()

np.int64(35080467)

In [35]:
df_clean = df_clean.rename(columns={
    "date": "booking_date",
    "time": "booking_time"
})

In [36]:
df_clean.columns

Index(['booking_id', 'booking_datetime', 'booking_date', 'booking_time',
       'booking_status', 'vehicle_type', 'pickup_location', 'drop_location',
       'ride_distance', 'payment_method', 'driver_ratings', 'customer_rating',
       'v_tat', 'c_tat', 'quoted_fare', 'realized_revenue', 'is_success',
       'is_customer_cancel', 'is_driver_cancel', 'is_driver_not_found',
       'is_failure', 'is_incomplete_ride'],
      dtype='object')

In [26]:
pip install sqlalchemy psycopg2-binary

Collecting sqlalchemy
  Using cached sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.3.0-cp312-cp312-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Using cached sqlalchemy-2.0.45-cp312-cp312-win_amd64.whl (2.1 MB)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
    --------------------------------------- 0.0/2.7 MB 653.6 kB/s eta 0:00:05
   ------ --------------------------------- 0.4/2.7 MB 4.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.3/2.7 MB 9.0 MB/s eta 0:00:01
   ------------------------------- -------- 2.2/2.7 MB 11.5 MB/s eta 0:00:01
   ------------------------------- -------- 2.2/2.7 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 10.2 MB/s eta 0:00:00
Using cached greenlet-3.3.0-cp312-cp312-win_amd64.whl (301 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, psycopg2-binary, greenlet, sqlalchemy
Successfully installed greenlet-3.3.0 psycopg2-binary-2.9.11 sqlalchemy-2.0.45 typing-extensions-4.15.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
from sqlalchemy import create_engine
import pandas as pd

In [28]:
# Load cleaned data
df_clean = pd.read_csv("E:/Data Analytics/Labmentix/Ola Project/data_clean/ola_july_clean.csv")

In [31]:
from urllib.parse import quote_plus

password = "Manikanta@3"
encoded_password = quote_plus(password)
encoded_password

'Manikanta%403'

In [32]:
engine = create_engine(
    f"postgresql+psycopg2://postgres:Manikanta%403@localhost:5432/ola_analytics"
)

In [33]:
engine.connect()

In [37]:
df_clean.to_sql(
    "rides",
    engine,
    if_exists="append",
    index=False,
    method="multi"
)

103024